<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head.ejs")%>
</head>
<body>
    <header>
        <%-include("./partials/header.ejs")%>
    </header>
    <div class="d-flex flex-column justify-content-center align-items-center"">
        <h3>Sucessfully created short URL</h3>
        <p>Short URL: <a href="<%=url.shortUrl%>"><%=url.shortUrl%></a></p>
        <p>Original URL: <a href="<%=url.longUrl%>"><%=url.longUrl%></a></p>
        <p>URL Detail: <a href="/detail/<%=url.urlId%>">Detail URL</a></p>
    </div>    
    <footer>
        <%-include("./partials/footer.ejs")%>
    </footer>
</body>
</html>